@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
  background-color: black;
  color: blanchedalmond;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 90%;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.container {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.searchdiv {
  background: black;
  position: fixed;
  float: bottom;
  bottom: 5px;
  width: 100%;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: flex;
}

.search-txt {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  text-align: center;
  font-size: 1rem;
  padding: 2px 4px;
  border-radius: 60px;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 25px;
  height: 25px;
  color: rgb(0, 0, 0);
  transition: 1.5s;
  cursor: pointer;
  background-color: aliceblue;
  padding: 6px;
  border-radius: 100%;
  outline: none;
  border: none;
  font-weight: 400;
}

i {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imagens {
  width: 300px;
  height: auto;
  scroll-snap-align: center;
  max-width: 100%;
}

img {
  width: 100%;
  height: 100%;
  aspect-ratio: 2/3;
  grid-template-columns: 300px 300px;
  margin: 10px;
  background-position: 50% 50%;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
}

.image-popup {
  display: none;
  position: fixed;
  width: 90%;
  height: 80vh;
  background: rgba(26, 26, 26, 0.685);
  transform: translate(-50, -50);
}

.next-page {
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}
